extends ../layout

include ../mixins/_navbar

block header
  +navbar()
  
block content
  .container
    form.col.s12(action="/account/edit" method="POST" enctype="multipart/form-data")
      br
      .row.center.swag-promo.primary-blue.grey-text.text-lighten-3.z-depth-1
        .col.s12.center
          img.responsive-img(style='width: 150px;', src='https://res.cloudinary.com/dx1s7kdgz/image/upload/v1496716199/OUTVENTURE-04_qzk92u.png')
          h5 Welcome to Outventure! 
          p.center Please complete your profile...

      br    
      .row
        .col.m2.push-m5.s4.push-s4
          img.circle.responsive-img(src='/images/photos/user.png' id="edit-image") 
        .col.s12.center
          .file-field.input-field
            i.material-icons mode_edit
            a Upload a profile photo!
            input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg") 
      br
      br
      .row
        .input-field.col.m5.s12
          i.material-icons.prefix.fa.fa-user-o
          input#name(type='text', name='firstName')
          label(for='firstName') First Name   
        .input-field.col.m5.push-m1.s12
          i.material-icons.prefix.fa.fa-user-o
          input#name(type='text', name='lastName')
          label(for='lastName') Last Name  
      .row
        .input-field.col.m5.s12
          i.material-icons.prefix.fa.fa-globe
          label(for="city") City
          input(type="text" id="city" name="location[city]" placeholder="Where do you live?" required)
        .input-field
          input(type="hidden" id="lngCity" name="location[coordinates][0]" required)
        .input-field
          input(type="hidden" id="latCity" name="location[coordinates][1]" required)  
        .input-field.col.m5.push-m1.s12
          i.material-icons.prefix.fa.fa-venus-mars
          select(id="gender" name='gender' ) Gender
            option(value='' disabled="" selected="") What is your gender?
            option(value='Male') Male
            option(value='Female') Female
            option(value='Other') Other        
      .row
        .input-field.col.s12
          i.material-icons.prefix
            | mode_edit
          input#email(type='text', name='bio', placeholder="Where are you from? What sports are you into? What do you want to learn?")
          label(for='bio') Bio
      .row
        p Activities
        - const activityChoices = ['Hiking', 'Backpacking', 'Camping', 'Cycling', 'Climbing', 'Surfing', 'Scuba-Diving', 'Canoeing', 'Fishing']
        - const activities = []
        .input-field.center
          each activity in activityChoices
            input(type="checkbox" id=activity value=activity name="activities" checked=(activities.includes(activity)))
            label(for=activity style="padding-right:15px;") #{activity}
      br
      center
        .row
          button.col.s12.btn.btn-large.waves-effect.primary-blue(type='submit', name='btn-update') Create Profile
