extends layout

include mixins/_navbar
include mixins/_navbarLanding
include mixins/_heroVideo
include mixins/_infoSection
include mixins/_searchBar
include mixins/_planCard

block header
  if user
    +navbar()
  else
    +navbarLanding()
 
block content
  if user
    +searchBar()
    .listings-wrapper
      section.listings-section
        .cards-container
          .row#cards-container
        .map-container
          #map
  else          
    +heroVideo()
    +infoSection()
    +searchBar()
    .listings-wrapper
      section.listings-section
        .cards-container
          .row#cards-container
        .map-container
          #map
  .fixed-action-btn.hide-on-med-and-up
    .btn.secondary-blue#map-toggle-button Map View
      i.fa.fa-globe.left(aria-hidden="true")
