extends layout

include mixins/_navbar
include mixins/_heroVideo
include mixins/_infoSection
include mixins/_searchBar
include mixins/_planCard

block header
  +navbar()
 
block content
  +heroVideo()
  +infoSection()
  +searchBar()
  .listings-wrapper
    section.listings-section
      .cards-container
        .row
          +planCard()
      .map-container
        #map
