mixin heroVideo()
  .homepage-hero-module
    .video-container
      .filter
      video.fillWidth(autoplay='', loop='')
        source(src='images/Outventure-landing-page.m4v', type='video/mp4')
        | Your browser does not support the video tag. I suggest you upgrade your browser.
        source(src='images/Outventure-landing-page.m4v', type='video/webm')
        | Your browser does not support the video tag. I suggest you upgrade your browser.
      .poster.hidden
        img(src='', alt='')
      .section.valign-wrapper.header-info-section.center
        .container
          h1.header.center.white-text.text-700(style="display:inline;") FEEL 
          h1.header.center.white-text.text-700(style="display:inline;")#textMessage 
          .textContent(style='display:none') HAPPY
          .textContent(style='display:none') MINDFUL
          .textContent(style='display:none') CREATIVE
          .textContent(style='display:none') FIT
          .textContent(style='display:none') FOCUSED
          .textContent(style='display:none') ENERGIZED 
          .textContent(style='display:none') RELAXED 
          .textContent(style='display:none') FREE 
          hr.hr-header
          .row.center
            h5.header.col.s12.white-text.text-500.spaced-text SPEND MORE TIME OUTDOORS.
          br
          br
          .row.center
            a.btn-floating.btn-large.waves-effect.waves-light.transparent(data-scroll='', href='#info-section')
              i.fa.fa-hand-o-down(aria-hidden='true')
          br
          br
