mixin infoSection()
  #info-section.container
    br
    br
    // Message section
    .row
      .col.m10.push-m1.s12
        h4.center
          | Outventure is an outdoor lifestyle community focused on making the outdoors more accessible
    // Icon Section
    .row
      .col.s12.m4
        .icon-block
          h2.center.amber-text.text-accent-4
            i.fa.fa-lightbulb-o(aria-hidden='true')
          h5.center Plan Ideas
          p.center.text-500 Discover the best places and activities for every moment and skill-level.
      .col.s12.m4
        .icon-block
          h2.center.red-text.text-lighten-2
            i.fa.fa-users(aria-hidden='true')
          h5.center Outings
          p.text-500.center Join hundreds of like-minded people on outdoor outings
      .col.s12.m4
        .icon-block
          h2.center.blue-grey-text.text-darken-4
            i.fa.fa-user-o(aria-hidden='true')
          h5.center Experts
          p.text-500.center
            | Hire local experts to teach you or guide you on your next adventure.
            // Create unique outdoor plans, and earn extra money by bringing others along.
    br
    br
