mixin infoSection()
  #info-section
    .container
      .row
        .col.m6.s12.fade-in(style='opacity: 0')
          h4.text-300
            | Discover the best ideas for outdoor activities.
          p.text-300(style='font-size:16px;')
            | We love being outdoors. But it's not always easy. Outventure provides hundreds of outdoor plan ideas so you know  
            strong where to go, what to do and what to bring.
          p.text-300(style='font-size:16px;') 
            |  We include skill-level, minimum time required, gear and transport recommendations, photos... everything you need to 
            strong find your perfect plan and make it happen.
          a.btn.btn-large.col.s12.primary-pink(text-lighten-1.data-scroll='' href="#search-nav") Explore!
        .col.m5.push-m1.s12
          .card.medium.z-depth-2
            .card-image.waves-effect.waves-block.waves-light
              .fotorama(data-width="100%"
           data-ratio="400/300" data-fit="cover" data-loop="true" data-swipe="true" data-trackpad="true" data-click='false' data-transition="slide")
                  img.fotorama__img(src='/uploads/fba97363-a268-4639-8a29-5e5649808469.jpeg')
                  img.fotorama__img(src='/uploads/a332caa4-718a-4a3b-b0fd-f26a5f753d38.jpeg')
                  img.fotorama__img(src='/uploads/d655530e-c244-4384-9cae-1b58c65075ff.jpeg')
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Climb Point Dume
                i.material-icons.right control_point
              p.text-300 Amazing 60ft wall right next to the beach
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Climb Point Dume
                i.material-icons.right close
              p Activities
              .chip
                img(src='/images/icons/Climbing.png')
                |       Climbing
              p Tags
              .chip
                | Beach
              .chip
                | Wildlife
              .chip
                | Mountain
              .chip
                | Family friendly
              .chip
                | Easy Parking
              p Minimum Time
              .chip  4h 
              p
              a.btn.waves-effect.primary-blue.waves-light.center.col.m12.s12(href='/plans/climb-point-dume')
                | Full Page
                i.fa.fa-external-link.left(aria-hidden='true')
            a.btn-floating.share-fab.waves-effect.transparent.waves-light
              i.fa.fa-share-square-o(aria-hidden='true')
            button.btn-floating.done-fab.waves-effect.waves-light.transparent(value='', onclick='', name='')
              i.fa.fa-check.done597faddb2888da127e5c9b7e(aria-hidden='true')
            button.btn-floating.saved-fab.waves-effect.waves-light.transparent(value='', onclick='', name='')
              i.fa.fa-heart.primary-pink-text.heart597faddb2888da127e5c9b7e(aria-hidden='true')
            a.review-fab
              p.text-300.yellow-text.text-darken-2 ★★★✩✩
            a.level-fab
              p.text-300.grey-text Intermediate
            a.saved-fab-symbol.primary-pink-text
              i.fa.fa-heart(aria-hidden='true')
            a.saved-fab-number.grey-text.text-lighten-2
              p.text-300.grey-text.text-lighten-2 4
            a.done-fab-symbol.green-text
              i.fa.fa-check(aria-hidden='true')
            a.done-fab-number.grey-text.text-lighten-2
              p.text-300.grey-text.text-lighten-2 2

    .container
      .row

        //- .col.s12.m4
        //-   .card.secondary-blue
        //-     .card-content.white-text.center
        //-       img(src='http://labs.qnimate.com/portfolio-materialize/images/profile.png', width='64', height='64')
        //-       h5 Guides
        //-       p.text-300 Join a local expert on a unique outdoor experience.
        //-       .text-300 Beginner friendly
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-       .text-300 Equipment Provided 
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-       .text-300 Pick-up option 
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-     .card-action
        //-       a.btn.btn-large.col.s12.primary-pink(text-lighten-1.data-scroll='' href="#search-nav") Explore
        //- .col.s12.m4
        //-   .card.primary-blue
        //-     .card-content.white-text.center
        //-       img(src='http://labs.qnimate.com/portfolio-materialize/images/profile.png', width='64', height='64')
        //-       h5 Experts
        //-       p.text-300 Learn faster. Hire a local expert, get feedback, and pick up where you left from.
        //-       .text-300 Equipment Provided 
        //-         i.fa.fa-check.green-text(aria-hidden='true')
        //-       .text-300 Feedback provided
        //-         i.fa.fa-check.green-text(aria-hidden='true')    
        //-       .text-300 Pick-up option 
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-     .card-action
        //-       a.btn.btn-large.col.s12.primary-pink(text-lighten-1.data-scroll='' href="#search-nav") Explore
        //- .col.s12.m4
        //-   .card.tertiary-blue
        //-     .card-content.white-text.center
        //-       img(src='https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-2/177794/62-512.png', width='64', height='64')
        //-       h5 Ideas
        //-       p.text-300 A complete collection of ideas to plan your own outdoor adventure.
        //-       .text-300 Beginner friendly
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-       .text-300 Downloadable
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-     .card-action
        //-       a.btn.btn-large.col.s12.primary-pink(text-lighten-1.data-scroll='' href="#search-nav") Explore
    //- br
    //- // Message section
    //- .row
    //-   .col.m10.push-m1.s12.fade-in(style='opacity: 0')
    //-     h4.center.text-300
    //-       | Less Research. Less Planning.
    //-     h3.center.text-300(style="margin-top:0px!important")
    //-       | More Adventure
    //- br      
    //- // Icon Section
    //- .parallax-container.valign-wrapper(style="background:rgba(1, 1, 1, 0.8)")
    //-   .parallax
    //-     img(src="/images/photos/canoeing.jpg", alt="")
    //-   .row.center.fade-in-late(style='opacity: 0')
    //-     .col.s12.m3.push-m2.adventure-column
    //-       h2.white-text
    //-         i.fa.fa-lg.fa-lightbulb-o(aria-hidden='true')
    //-       h5.grey-text.text-lighten-2(style="font-size:22px;") Adventure Ideas    
    //-       p.text-300.grey-text.text-lighten-2(style="font-size:16px;margin-top:5px!important")
    //-         | Discover the best outdoor activities near you, and all the information you need to make them happen.
    //-       br
    //-       a.btn.btn-large.col.s12.secondary-blue(text-lighten-1.data-scroll='' href="#search-nav") Explore
    //-     .col.s12.m3.push-m4
    //-       h2.white-text
    //-         i.fa.fa-lg.fa-user-o(aria-hidden='true')
    //-       h5.grey-text.text-lighten-2(style="font-size:22px;") Guided Adventures     
    //-       p.text-300.grey-text.text-lighten-2(style="font-size:16px;margin-top:5px!important")
    //-         | Hire local experts to teach or guide you on your next adventure. The easiest way to go outdoors.
    //-       br
    //-       a.btn.btn-large.col.s12.primary-blue.text-lighten-1.disabled(data-scroll='' href="#search-nav") Coming soon!
          
