mixin infoSection()
  #info-section
    //- .container
    //-   .row
    //-     .col.m6.s12.fade-in(style='opacity: 0')
    //-       h4.text-300
    //-         | Discover the best ideas for outdoor activities.
    //-       p.text-300(style='font-size:16px;')
    //-         | There's hundreds of hikes, waterfalls, rivers and beaches around the world waiting for us. We want to make it easier for to experience them. 
    //-         
    //-       p.text-300(style='font-size:16px;') 
    //-         | Outventure is a curated repository of ideas for outdoor activities. We tell you where to go, what to do and what to bring. 
    //-       p.text-300(style='font-size:16px;') 
    //-         | Everything you need to 
    //-         strong find your perfect plan and make it happen.
    //-       a.btn.btn-large.col.s12.primary-pink(text-lighten-1.data-scroll='' href="#search-nav") Explore!
    //-     
    //- .container
    //-   .row

        //- .col.s12.m4
        //-   .card.secondary-blue
        //-     .card-content.white-text.center
        //-       img(src='http://labs.qnimate.com/portfolio-materialize/images/profile.png', width='64', height='64')
        //-       h5 Guides
        //-       p.text-300 Join a local expert on a unique outdoor experience.
        //-       .text-300 Beginner friendly
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-       .text-300 Equipment Provided 
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-       .text-300 Pick-up option 
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-     .card-action
        //-       a.btn.btn-large.col.s12.primary-pink(text-lighten-1.data-scroll='' href="#search-nav") Explore
        //- .col.s12.m4
        //-   .card.primary-blue
        //-     .card-content.white-text.center
        //-       img(src='http://labs.qnimate.com/portfolio-materialize/images/profile.png', width='64', height='64')
        //-       h5 Experts
        //-       p.text-300 Learn faster. Hire a local expert, get feedback, and pick up where you left from.
        //-       .text-300 Equipment Provided 
        //-         i.fa.fa-check.green-text(aria-hidden='true')
        //-       .text-300 Feedback provided
        //-         i.fa.fa-check.green-text(aria-hidden='true')    
        //-       .text-300 Pick-up option 
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-     .card-action
        //-       a.btn.btn-large.col.s12.primary-pink(text-lighten-1.data-scroll='' href="#search-nav") Explore
        //- .col.s12.m4
        //-   .card.tertiary-blue
        //-     .card-content.white-text.center
        //-       img(src='https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-and-shapes-2/177794/62-512.png', width='64', height='64')
        //-       h5 Ideas
        //-       p.text-300 A complete collection of ideas to plan your own outdoor adventure.
        //-       .text-300 Beginner friendly
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-       .text-300 Downloadable
        //-         i.fa.fa-check.green-text(aria-hidden='true')  
        //-     .card-action
        //-       a.btn.btn-large.col.s12.primary-pink(text-lighten-1.data-scroll='' href="#search-nav") Explore
    //- br
    //- // Message section
    //- .row
    //-   .col.m10.push-m1.s12.fade-in(style='opacity: 0')
    //-     h4.center.text-300
    //-       | Less Research. Less Planning.
    //-     h3.center.text-300(style="margin-top:0px!important")
    //-       | More Adventure
    //- br      
    //- // Icon Section
    //- .parallax-container.valign-wrapper(style="background:rgba(1, 1, 1, 0.8)")
    //-   .parallax
    //-     img(src="/images/photos/canoeing.jpg", alt="")
    //-   .row.center.fade-in-late(style='opacity: 0')
    //-     .col.s12.m3.push-m2.adventure-column
    //-       h2.white-text
    //-         i.fa.fa-lg.fa-lightbulb-o(aria-hidden='true')
    //-       h5.grey-text.text-lighten-2(style="font-size:22px;") Adventure Ideas    
    //-       p.text-300.grey-text.text-lighten-2(style="font-size:16px;margin-top:5px!important")
    //-         | Discover the best outdoor activities near you, and all the information you need to make them happen.
    //-       br
    //-       a.btn.btn-large.col.s12.secondary-blue(text-lighten-1.data-scroll='' href="#search-nav") Explore
    //-     .col.s12.m3.push-m4
    //-       h2.white-text
    //-         i.fa.fa-lg.fa-user-o(aria-hidden='true')
    //-       h5.grey-text.text-lighten-2(style="font-size:22px;") Guided Adventures     
    //-       p.text-300.grey-text.text-lighten-2(style="font-size:16px;margin-top:5px!important")
    //-         | Hire local experts to teach or guide you on your next adventure. The easiest way to go outdoors.
    //-       br
    //-       a.btn.btn-large.col.s12.primary-blue.text-lighten-1.disabled(data-scroll='' href="#search-nav") Coming soon!
          
