mixin infoSection()
  #info-section.container
    br
    br
    // Message section
    .row
      .col.m12.s12.fade-in(style='opacity: 0')
        h4.center.text-700
          | We spend 10+ hours a day in front of a screen.
        h5.center.text-700
          | It's time for a change.
        br
        br
        h5.center.text-700
          | Outventure provides everything you need to spend more time outdoors.
    // Icon Section
    .row.center.fade-in-late(style='opacity: 0')
      .col.s12.m5
        h2.yellow-text.text-darken-4
          i.fa.fa-lightbulb-o(aria-hidden='true')
        a.btn.yellow.darken-4.white-text(data-scroll='' href="#search-nav") Adventure Ideas
        p.text-700
          | Where to go. What to do. What to bring.
        p
          | From crazy backpacking weekends to easy 1 hour hikes, discover the best outdoor plan recommendations to suit your needs.
      //- .col.s12.m5.push-m2
      //-   h2.red-text.text-lighten-2
      //-     i.fa.fa-users(aria-hidden='true')
      //-   a.btn.transparent.black-text(data-scroll='' href="#search-nav") Outings
      //-   p
      //-   p.text-700
      //-     | Adventure needs company.
      //-   p
      //-     | Connect with like-minded people to share your adventures, learn and practice together.
      .col.s12.m5.push-m2
          h2.secondary-blue-text
            i.fa.fa-user-o(aria-hidden='true')
          a.btn.secondary-blue.white-text(data-scroll='' href="#search-nav") Guided Adventures
          p
          p.text-700
            | Book adventures with local experts.
          p.text-500
            | Learn from the best. Hire local experts to teach you or guide you on your next adventure.
            // Create unique outdoor plans, and earn extra money by bringing others along.
    //- .row.center
    //-   a.btn-floating.btn-large.waves-effect.waves-light.transparent(data-scroll='', href='#search-nav')
    //-     i.fa.fa-hand-o-down.black-text(aria-hidden='true')
