mixin navbar()
  .navbar-fixed
    nav
      .nav-wrapper.scrolled
        // logo
        a.brand-logo(href='/')
          img#nav-logo(src='https://res.cloudinary.com/dx1s7kdgz/image/upload/v1495057462/compundBlack_mlkuff.png', alt='Logo')
        // Hamburger
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
        // Desktop menu items
        ul.left.hide-on-med-and-down(style='padding-left:20vw;')
          li
            a(href='#')
              i.left.fa.fa-globe(aria-hidden='true')
              | EXPLORE
          li
            a.dropdown-button(href='#', data-activates='create-dropdown', data-beloworigin='true', data-constrainwidth='false')
              i.left.fa.fa-plus-square-o(aria-hidden='true')
              | CREATE
              i.material-icons.right arrow_drop_down
          li
            a.dropdown-button(href='#', data-activates='about-us-dropdown', data-beloworigin='true', data-constrainwidth='false')
              | ABOUT US
              i.material-icons.right arrow_drop_down
        // desktop profile items
        if user
          ul.right.hide-on-med-and-down
            li(style="padding-top:8px")
              img.avatar(src=user.gravatar + 'd=retro')
            li
              a.dropdown-button(href='#', data-activates='profile-dropdown', data-beloworigin='true', data-constrainwidth='false')
                | Alvaro
                i.material-icons.right arrow_drop_down
        else  
          ul.right.hide-on-med-and-down
            a.waves-effect.waves-light.btn.cyan.grey.lighten-5(href='/login', style='color:black!important;') Login
            a.waves-effect.waves-light.btn.cyan.darken-4(href='/register', style='margin-left:-10px;color:white!important;') Sign up
          // Dropdown Structures
        ul#profile-dropdown.dropdown-content
          li
            a(href='#') My Account
          li
            a(href='/logout') Logout
        ul#about-us-dropdown.dropdown-content
          li
            a(href='#') Our Purpose
          li
            a(href='#') Blog
        ul#create-dropdown.dropdown-content
          li
            a(href='/addPlan') Plan Idea
          li
            a(href='#') Outing
