mixin navbarLanding()
  .navbar-fixed.z-depth-0
    nav
      .nav-wrapper.nav-wrapper-landing.z-depth-0.text-300
        // logo
        a.brand-logo(href='/')
          img#nav-landing-logo(src='https://res.cloudinary.com/dx1s7kdgz/image/upload/v1494986580/outventure_white-01_gofmj3.png', alt='Logo')
        // Hamburger
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
        // Desktop menu items
        ul.left.hide-on-med-and-down(style='padding-left:20vw;')
          li
            a(href='/')
              i.left.fa.fa-search(aria-hidden='true')
              | DISCOVER
          li
            a.dropdown-button(href='#', data-activates='create-dropdown', data-beloworigin='true', data-constrainwidth='true')
              i.left.fa.fa-plus-square-o(aria-hidden='true')
              | CREATE
              i.material-icons.right arrow_drop_down
          li
            a.dropdown-button(href='#', data-activates='about-us-dropdown', data-beloworigin='true', data-constrainwidth='true')
              | ABOUT US
              i.material-icons.right arrow_drop_down
        if user
          ul.right.hide-on-med-and-down
            li
              a.heart-count(href='/account' style='font-size:24px;') #{user.hearts.length}
            li(style="margin-left:-10px;padding-right:15px;")
              i.left.fa.fa-heart-o(aria-hidden='true')
            li(style="padding-top:8px")
              if user.photo
                if user.photo.startsWith("https://graph.facebook.com/")
                  img.avatar(src=`${user.photo}`) 
                else 
                  img.avatar(src=`../uploads/${user.photo}`)
              else      
                img.avatar(src='/images/photos/user.png')
            li
              a.dropdown-button(href='#', data-activates='profile-dropdown', data-beloworigin='true', data-constrainwidth='true') #{user.name}
                i.material-icons.right arrow_drop_down
        else
          ul.right.hide-on-med-and-down
            a#login.waves-effect.waves-light.btn.transparent(href='/login', style='color:white!important;') Login
            a#register.waves-effect.waves-light.btn.white(href='#', style='margin-left:-10px;color:black!important;') Sign up
        ul#profile-dropdown.dropdown-content(style="width: 300px !important")
          li
            a(href='/account') My Account
          li
            a(href='/logout') Logout
        ul#about-us-dropdown.dropdown-content
          li
            a(href='#') Our Purpose
          li
            a(href='#') Blog
        ul#create-dropdown.dropdown-content
          li
            a(href='/addplan') Plan Idea
          li
            a(href='#') Outing
