mixin planCard()
  .col.m6.s12
    .card.medium
      .card-image.waves-effect.waves-block.waves-light
        img.activator(src='images/photos/canoeing.jpg')
      .card-content
        span.card-title.activator.grey-text.text-darken-4
          | Backpack Sierra Trail
          i.material-icons.right more_vert
        p Beginner
        p - 1 Day / Weekend
        p.orange-text ★★★★
      .card-reveal
        span.card-title.grey-text.text-darken-4
          | Card Title
          i.material-icons.right close
        p
          | Here is some more information about this product that is only revealed once clicked on.
      a.btn-floating.halfway-fab.waves-effect.waves-light.red.lighten-1
        i.fa.fa-heart(aria-hidden='true')
