mixin searchBar()
  #search-nav.row.search-nav.center.white
    #search-bar.col.m4.s8
      form
        .input-field.z-depth-2
          input.validate#search(type='search' name='geolocate' placeholder="Location")
          label.label-icon(for='search')
            i.material-icons location_on
          i.material-icons close
    .col.m7.s2
      .input-field.col.m3.push-m1.s12.hide-on-med-and-down
        select(multiple='' id='activities' onchange='updateQuery(this)')
          optgroup(label='Water')
            option(value='All' checked="checked") All
            option(value='Surf' name='Surf') Surf
            option(value='Scuba-diving' name='Scuba-Diving') Scuba-diving
          optgroup(label='Land')
            option(value='Climbing' name='Climbing') Climbing
            option(value='Backpacking' name='Backpacking') Backpacking
            option(value='Camping' name='Camping') Camping
            option(value='Hiking' name='Hiking') Hiking
        label Activities
      .input-field.col.m3.push-m1.s12.hide-on-med-and-down
        select(multiple='' id='skillLevel' onchange='updateQuery(this)')
          option(value='All') All
          option(value='Beginner') Beginner
          option(value='Intermediate') Intermediate
          option(value='Advanced') Advanced
          option(value='Expert') Expert
        label Skill Level
      .search-buttons.col.m3.push-m1.s12
        a.waves-effect.waves-light.btn.primary-blue(href='#modal1')
          i.prefix.fa.fa-sliders(aria-hidden='true')
          |  +1
