mixin searchBar()
  #search-nav.row.search-nav.white
    #search-bar.col.m4.s12
      .input-field.z-depth-2
        input.validate#search(type='search' name='geolocate' placeholder="Location")
        label.label-icon(for='search')
          i.material-icons location_on
        i.material-icons close
    .col.m7.s2.hide-on-med-and-down
      .input-field.col.m3.s12(style='margin-top:24px;')
        .switch
          label
            i.fa.fa-2x.fa-lightbulb-o.yellow-text.text-darken-4(aria-hidden='true')
            input(type='checkbox')
            span.lever
            i.fa.fa-2x.fa-user-o.primary-blue-text(aria-hidden='true')
        //- input#ideas(type='checkbox' class='filled-in' checked='checked')
        //- label(for='ideas') 
        //-   i.fa.fa-lightbulb-o.fa-lg.amber-text(aria-hidden='true')
        //-   |  IDEAS
        //- input#outings(type='checkbox' class='filled-in' checked='checked')
        //- label(for='outings') 
        //-   i.fa.fa-users.red-text.text-lighten-2(aria-hidden='true')
        //-   |  OUTINGS
      .input-field.col.m4.s12.hide-on-med-and-down
        select(multiple='' id='activities' onchange='updateQuery()')
          option(value='All' disabled='') All
          optgroup(label='Water')
            option(value='Surfing' name='Surfing') Surfing
            option(value='Sailing' name='Sailing') Sailing
            option(value='Scuba-Diving' name='Scuba-Diving') Scuba-Diving
            option(value='Canoeing' name='Canoeing') Canoeing
          optgroup(label='Land')
            option(value='Climbing' name='Climbing') Climbing
            option(value='Backpacking' name='Backpacking') Backpacking
            option(value='Camping' name='Camping') Camping
            option(value='Hiking' name='Hiking') Hiking
        label Activities:
      .input-field.col.m4.s12.hide-on-med-and-down
        select(multiple='' id='skillLevel' onchange='updateQuery()')
          option(value='All' disabled='') All
          option(value='Beginner' name='Beginner') Beginner
          option(value='Intermediate' name='Intermediate') Intermediate
          option(value='Advanced' name='Advanced') Advanced
          option(value='Expert' name='Expert') Expert
        label Level:
      .search-buttons.col.m1.hide-on-med-and-down
        a.waves-effect.waves-light.btn.primary-blue(href='#modal-tags')
          i.prefix.fa.fa-sliders(aria-hidden='true')
          |  +1
    .row.hide-on-med-and-up
      .col.s6
        a.waves-effect.waves-light.btn.primary-blue.col.s12(href='#modal-tags')
          i.prefix.fa.fa-sliders(aria-hidden='true')
          |  +1      
      .col.s6    
        a.btn.secondary-blue.col.s12#map-toggle-button(onclick="mapToggleButton(this)") Map View
          i.fa.fa-globe.left(aria-hidden="true")
  #modal-tags.modal.bottom-sheet
    .modal-content.row
      .col.m2.push-m10.s12.center
        a.modal-action.modal-close.waves-effect.waves-green.btn.secondary-blue.col.s12.m12(href='#!' onclick='updateQuery()' style="margin-bottom:5px;") Apply
        br
        a.modal-action.modal-close.waves-effect.waves-green.btn.primary-blue.col.s12.m12(href='#!' onclick='') Clear All
      .col.m6.pull-m2.s12
        h5.center Tags
        .col.m3.s12
          p
            input.input-tag#lake(type='checkbox' value='Lake' onchange='updateTags(this)')
            label(for='lake') Lake
          p
            input.input-tag#beach(type='checkbox' value='Beach' onchange='updateTags(this)')
            label(for='beach') Beach
          p
            input.input-tag#river(type='checkbox' value='River' onchange='updateTags(this)')
            label(for='river') River
          p
            input.input-tag#waterfall(type='checkbox' value='Waterfall' onchange='updateTags(this)')
            label(for='waterfall') Waterfall
        .col.m3.s12
          p
            input.input-tag#wildlife(type='checkbox' value='Wildlife' onchange='updateTags(this)')
            label(for='wildlife') Wildlife
          p
            input.input-tag#forest(type='checkbox' value='Forest' onchange='updateTags(this)')
            label(for='forest') Forest
          p
            input.input-tag#mountain(type='checkbox' value='Mountain' onchange='updateTags(this)')
            label(for='mountain') Mountain
          p
            input.input-tag#dog-friendly(type='checkbox' value='Dog friendly' onchange='updateTags(this)')
            label(for='dog-friendly') Dog friendly
        .col.m3.s12
          p
            input.input-tag#family-friendly(type='checkbox' value='Family Friendly' onchange='updateTags(this)')
            label(for='family-friendly') Family Friendly
          p
            input.input-tag#easy-parking(type='checkbox' value='Easy Parking' onchange='updateTags(this)')
            label(for='easy-parking') Easy Parking
          p
            input.input-tag#scenic(type='checkbox' value='Scenic' onchange='updateTags(this)')
            label(for='scenic') Scenic
          p
            input.input-tag#romantic(type='checkbox' value='Romantic' onchange='updateTags(this)')
            label(for='romantic') Romantic
        .col.m3.s12    
          p
            input.input-tag#summer(type='checkbox' value='Summer' onchange='updateTags(this)')
            label(for='summer') Summer
          p
            input.input-tag#autumn(type='checkbox' value='Autumn' onchange='updateTags(this)')
            label(for='autumn') Autumn
          p
            input.input-tag#winter(type='checkbox' value='Winter' onchange='updateTags(this)')
            label(for='winter') Winter
          p
            input.input-tag#spring(type='checkbox' value='Spring' onchange='updateTags(this)')
            label(for='spring') Spring
      .col.m3.pull-m1.s12
        h5 Time Availability
        p
          input.input-tag#4h(type='checkbox' value='4h' onchange='updateTags(this)')
          label(for='4h')  < 4h
        p
          input.input-tag#day-trip(type='checkbox' value='Day' onchange='updateTags(this)')
          label(for='4 -8') 4h - 8h
        p
          input.input-tag#day-trip(type='checkbox' value='Day' onchange='updateTags(this)')
          label(for='8 - 24') Overnight
        p
          input.input-tag#overnight(type='checkbox' value='Overnight' onchange='updateTags(this)')
          label(for='24 +') Weekend
